<div class="vh-100 d-flex justify-content-between align-items-center flex-column">
  <div class="d-flex flex-row-reverse vw-100">
    <a href="https://github.com/beratcan97/bitcoinkollen">
      <img alt="github logo link" src="assets/images/Octocat.png" width="50" height="50">
    </a>
  </div>
  <div class='d-flex  flex-row'>
    <img width="100px" height="100px" alt="Bitcoin logo" src="https://bitcoin.org/img/icons/opengraph.png?1581019563">
    <div class='d-flex flex-column align-items-center justify-content-center'>
      <h1 class='text-white mb-2' *ngIf="btcPriceInSEK; else loadingSpinner">{{btcPriceInSEK | number}} SEK</h1>
      <hr class="m-0 bg-white">
      <h1 class="text-white m-0" *ngIf="btcPriceInUSD; else loadingSpinner">{{btcPriceInUSD | number}} $</h1>
    </div>
  </div>
  <div>
    <p class="font-weight-lighter text-white">Priset uppdateras var 10:e sekund</p>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="spinner-border text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

<script
  id="_waunfd">var _wau = _wau || []; _wau.push(["dynamic", "ens6il9n4p", "nfd", "c4302bffffff", "small"]);</script>
<script async src="//waust.at/d.js"></script>

<app-particles></app-particles>